#root, body, html{
  height : 100%;
  margin : 0;

}
body{
  background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)), url(./assets/pexels-maitree-rimthong-1602726.jpg);
  background-size: cover;
}